<div class="card border-0 shadow-sm bg-white my-4">

  <div class="card-body">

    <h5 class="card-title">Schedule a Meeting</h5>

    <p class="text-muted">

      Chat with me?

    </p>
    <p class="text-muted">

      I am open to research chats, collaborations, opportunities, or just random coffee chats, etc. Feel free to book a slot and let me know your purpose when you book. 

    </p>
    <a

      class="btn btn-primary"

      href="https://calendar.app.google/kGyco7HUQNi1ggaE8"

      target="_blank"

      rel="noopener noreferrer"

    >

      Book a Meeting

    </a>

  </div>

</div>
