{% assign now_ts = site.time | date: "%s" | plus: 0 %}
{% assign three_years_sec = 94608000 %}
{% assign cutoff_ts = now_ts | minus: three_years_sec | plus: 0 %}

{% assign recent_news = "" | split: "" %}
{% assign all_news = site.news | sort: "date" | reverse %}

{% for item in all_news %}
  {% assign item_ts = item.date | date: "%s" | plus: 0 %}
  {% if item_ts >= cutoff_ts %}
    {% assign recent_news = recent_news | push: item %}
  {% endif %}
{% endfor %}

{% assign news_by_year = recent_news | slice: 0, include.limit | group_by_exp: "item", "item.date | date: '%Y'" -%}
<div class="my-3 bg-white shadow-sm rounded-xl">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-rss"></i> News</h6>
    <div class="px-3 pb-1">
        {% for year in news_by_year %}
        <div class="media py-1 {% if not_first -%}border-top border-gray{%- endif %}">
            {% assign not_first = true %}
            <div class="mr-3 text-muted my-1">{{ year.name }}</div>
            <div class="media-body">
                {% for item in year.items %}
                <div class="my-1 d-flex">
                    <div>{{ item.title }}</div>
                    <div class="ml-auto mt-auto text-muted no-break"><i>{{ item.date | date: "%b %d" }}</i></div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
